@model List<SEDC.PizzaApp.Web.Models.ViewModels.OrderDetailsViewModel>
<div class="row">
    <div class="col-md-5">
        @foreach (var item in Model)
        {
            <h4>Order Details</h4>
            <p>Pizza Name: @item.PizzaName</p>
            <p>User: @item.UserFullName</p>
            <p>Price: @item.Price</p>
            <p>Payment method: @item.PaymentMethod</p>
        }

    </div>
</div>