@model SEDC.PizzaApp.Web.Models.ViewModels.PizzaDetailsViewModel

<h4>Pizza from partial</h4>
<ul>
    <li>Pizza Name: <h6>@(Model.Name)</h6></li>
    <li>Pizza Size: <h6>@Model.PizzaSize</h6></li>
    <li>Pizza Price: <h6>@Model.Price</h6></li>

</ul>
